<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Pedidos</title>
</head>
<h1>Segui aca tus pedidos!</h1>
<body>
    <form>
        <p>Numero de Pedido: <input type="text" name="Numero de su pedido"></p>
        <p>Fecha de Pedido: <input type="date" name="Fecha de su pedido"></p>
        <input type="submit" valor="enviar">

    </form>
</body>
</html>